@page "/"

<h1>First Application with Blazor</h1>

Welcome to my first application with Blazor. This is a simple application that exposes a CRUD on an entity called
Employees. In the Employees category of the menu you can access the view to do the four basic operations

<div class="my-panel">
    <p>Hi, my name is Carlos Herrera I'm a Software Junior Developer. I'm graduate of the National Technological
    Institute of Mexico campus Acapulco. From the age of 17 I'm fascinated by this world of programming and software
    development. I think that software development is a challenge, however, it is something that brings us closer to
    many people.</p>
    <img class="my-image" src="/aseets/43161662.jpg" />
</div>